@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "../mixins/mixins";

$font-Manrope: 'Manrope', sans-serif;
$to-hide: none;
$font-size-capital: 18px;
$font-size-small: 14px;
$black-08: #141414;
$black-06: #0F0F0F;
$black-10: #1a1a1a;
$black-15: #262626;
$black-20: #333;
$red-45: #E50000;
$gray-60: #999;
$gray-75: #BFBFBF;
$white: #fff;
$zero-margin: 0;
$border-radius-12: 12px;
$border-radius-8: 8px;


body {
  @include body;
}

a {
  text-decoration: none;
  color: inherit;
}

.burger-menu {
  display: none;
}

main {
  @include main;
}

.site-header {
  @include site-header-desktop
}

.hidden-form {
  display: $to-hide;
}

.movie-banner {
  @include movie-banner-desktop-for-movies-and-shows;
}

.fade-out-bottom {
  width: 1920px;
  position: absolute;
  margin: 0 !important;
  bottom: 0;
  left: calc(50% - 960px);
  background: linear-gradient(180deg, rgba(20, 20, 20, 0), #141414);
  height: 400px;
  z-index: 3;
}

.movie-details {
  margin-top: 75px;
  width: 1596px;

  .movie-detail-wrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 20px;

    .details-content-left {

      @include details-content-left-desktop;

      .movie-description {
        @include movie-description-desktop;
      }

      .movie-meta-for-mobile {
        @include movie-meta-for-mobile-desktop;
      }

      .movie-cast {
        @include movie-cast-desktop;
      }

      .movie-reviews {
        @include movie-reviews-desktop
      }

      .reviews-controls {
        @include reviews-controls-desktop;
      }
    }

    .movie-meta {
      @include movie-meta-desktop;
    }
  }
}

.container-free-trial {
  @include container-free-trial-desktop
}

footer {
  @include footer-style-desktop;
}

@media (max-width: 1440px) {

  .burger-menu {
    display: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  body {
    @include body;
  }

  main {
    @include main;
  }

  .site-header {
    @include site-header-laptop
  }

  .hidden-form {
    display: $to-hide;
  }

  .movie-banner {
    @include movie-banner-laptop-for-movies-and-shows;

  }

  .fade-out-bottom {
    width: 1920px;
    position: absolute;
    margin: 0 !important;
    bottom: 0;
    left: calc(50% - 960px);
    background: linear-gradient(180deg, rgba(20, 20, 20, 0), #141414);
    height: 400px;
    z-index: 3;
  }

  .movie-details {
    margin-top: 80px;
    width: 1286px;

    .movie-detail-wrapper {
      display: flex;
      width: 1286px;
      align-items: flex-start;
      gap: 20px;

      .details-content-left {
        @include details-content-left-laptop;

        .movie-description {
          @include movie-description-laptop;
        }

        .movie-meta-for-mobile {
          @include movie-meta-for-mobile-laptop;
        }

        .movie-cast {
          @include movie-cast-laptop;
        }

        .movie-reviews {
          @include movie-reviews-laptop;
        }

        .reviews-controls {
          @include reviews-controls-laptop;
        }
      }

      .movie-meta {
        @include movie-meta-laptop;
      }
    }


  }

  .container-free-trial {

    @include container-free-trial-laptop;

  }

  footer {
    @include footer-style-laptop;
  }
}

@media (max-width: 390px) {


  body {
    @include body;
  }

  main {
    @include main;
  }

  .site-header {
    @include site-header-mobile;
  }

  .hero-description {
    display: none
  }

  .movie-banner {
    @include movie-banner-mobile-for-movies-and-shows;
  }

  .movie-details {

    margin-top: 60px;
    width: 358px;

    .movie-detail-wrapper {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      .details-content-left {
        @include details-content-left-mobile;

        .movie-description {
          @include movie-description-mobile;
        }

        .movie-meta-for-mobile {
          @include movie-meta-for-mobile-mobile;
        }

        .movie-cast {
          @include movie-cast-mobile;
        }

        .movie-reviews {
          @include movie-reviews-mobile;
        }

        .reviews-controls {
          @include reviews-controls-mobile;
          justify-content: center;
        }
      }

      .movie-meta {
        @include movie-meta-mobile;
      }
    }


  }

  .container-free-trial {
    @include container-free-trial-mobile;

  }

  footer {
    @include footer-style-mobile
  }
}