@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "../mixins/mixins";

$font-Manrope: 'Manrope', sans-serif;
$to-hide: none;
$font-size-capital: 18px;
$font-size-small: 14px;
$black-08: #141414;
$black-06: #0F0F0F;
$black-10: #1a1a1a;
$black-12: #1f1f1f;
$black-15: #262626;
$black-20: #333;
$red-45: #E50000;
$gray-60: #999;
$gray-75: #BFBFBF;
$white: #fff;
$zero-margin: 0;
$border-radius-12: 12px;
$border-radius-8: 8px;

.table-for-mobile {
  display: none;
}

.burger-menu {
  display: none;
}

body {
@include body;
}

main {
 @include main;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-header {
  @include site-header-desktop;
}

.hidden-form {
  display: $to-hide;
}

.pricing-section {
  @include pricing-section-desktop;
}

.pricing-section-table {
  margin-top: 150px;
  width: 1597px;

  .table-wrapper {

    display: flex;
    width: 99.8125rem;
    flex-direction: column;
    align-items: flex-end;
    gap: 80px;

    .pricing-header {
      display: flex;
      margin-top: 9.38rem;
      padding-right: 18.75rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.875rem;
      align-self: stretch;

      h2 {
        align-self: stretch;
        color: $white;
        font-family: $font-Manrope;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        margin-bottom: 0;
      }

      p {
        align-self: stretch;
        color: $gray-60;
        font-family: $font-Manrope;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
    }

    .pricing-table-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      border-radius: 0.75rem;
      border: 1px solid $black-15;

      .header-row {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        border: 1px solid $black-15;
        background: $black-06;

        .header-row-column {
          display: flex;
          padding: 1.875rem;
          justify-content: center;
          align-items: center;
          gap: 0.625rem;
          flex: 1 0 0;

          p {
            flex: 1 0 0;
            color: $white;
            font-family: $font-Manrope;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
          }
        }

        .header-row-column-popular {
          display: flex;
          padding: 1.875rem;
          align-items: center;
          gap: 0.5rem;
          flex: 1 0 0;

          p {
            color: $white;
            font-family: $font-Manrope;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
          }

          .popular {
            display: flex;
            padding: 0.005rem 0.625rem;
            align-items: flex-start;
            gap: 0.625rem;
            border-radius: 0.125rem;
            background: $red-45;

            p {
              margin: 0;
              padding: 5px;
              color: $white;
              font-family: $font-Manrope;
              font-size: 0.875rem;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;
            }
          }
        }
      }

      .common-row {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        border-bottom: 1px solid $black-15;

        .common-row-field {
          height: 80px;
          display: flex;
          padding: 1.875rem;
          justify-content: center;
          align-items: center;
          gap: 0.625rem;
          flex: 1 0 0;
          border: 1px solid $black-15;

          p {
            flex: 1 0 0;
            color: $gray-60;
            font-family: $font-Manrope;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
          }
        }
      }
    }

  }


}

.container-free-trial {
@include container-free-trial-desktop;
}

footer {
@include footer-style-desktop;
}


@media (max-width: 1440px) {

  .burger-menu {
    display: none;
  }

  .table-for-mobile {
    display: none;
  }

  body {
   @include body;
  }

  main {
    @include main;
  }

  .site-header {
    @include site-header-laptop
  }

  .pricing-section {
   @include pricing-section-laptop;
  }

  .pricing-section-table {
    margin-top: 120px;
    width: 1279px;

    .table-wrapper {

      display: flex;
      width: 1279px;
      flex-direction: column;
      align-items: flex-end;
      gap: 60px;

      .pricing-header {
        display: flex;
        padding-right: 150px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;

        h2 {
          align-self: stretch;
          color: var(--Absolute-White, #FFF);
          font-size: 38px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%;
        }

        p {
          align-self: stretch;
          color: var(--Grey-60, #999);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }

      .pricing-table-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 10px;
        border: 1px solid var(--Black-15, #262626);

        .header-row {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          border-bottom: 1px solid var(--Black-15, #262626);
          background: var(--Black-06, #0F0F0F);

          .header-row-column {
            display: flex;
            padding: 1.875rem;
            justify-content: center;
            align-items: center;
            gap: 0.625rem;
            flex: 1 0 0;

            p {
              flex: 1 0 0;
              color: $white;
              font-family: $font-Manrope;
              font-size: 1.25rem;
              font-style: normal;
              font-weight: 600;
              line-height: 150%;
            }
          }

          .header-row-column-popular {
            display: flex;
            padding: 1.875rem;
            align-items: center;
            gap: 0.5rem;
            flex: 1 0 0;

            p {
              color: $white;
              font-family: $font-Manrope;
              font-size: 1.25rem;
              font-style: normal;
              font-weight: 600;
              line-height: 150%;
            }

            .popular {
              display: flex;
              padding: 0 16px;
              align-items: flex-start;
              gap: 0.625rem;
              border-radius: 0.125rem;
              background: $red-45;

              p {
                color: $white;
                font-family: $font-Manrope;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
              }
            }
          }
        }

        .common-row {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          border-bottom: 1px solid $black-15;

          .common-row-field {
            //height:60px;
            display: flex;
            padding: 1.875rem;
            justify-content: center;
            align-items: center;
            gap: 0.625rem;
            flex: 1 0 0;
            border: 1px solid $black-15;

            p {
              flex: 1 0 0;
              color: $gray-60;
              font-family: $font-Manrope;
              font-size: 1.125rem;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;
            }
          }
        }
      }

    }


  }

  .container-free-trial {
    @include container-free-trial-laptop;
  }

  footer {
    @include footer-style-laptop;
  }

}

@media (max-width: 390px) {

  body {
    @include body;
  }

  main {
   @include main;
  }

  .site-header {
   @include site-header-mobile;
  }

  .pricing-section {
  @include pricing-section-mobile;
  }

  .pricing-section-table {
    margin-top: 80px;
    width: 358px;

    .table-wrapper {
      margin: 0;
      display: flex;
      width: 358px;
      flex-direction: column;
      align-items: flex-end;
      gap: 40px;

      .pricing-header {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
        padding: 0;

        h2 {
          align-self: stretch;
          color: var(--Absolute-White, #FFF);
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%;
        }

        p {
          align-self: stretch;
          color: var(--Grey-60, #999);
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }

      .tabs-for-mobile {
        display: flex;
        padding: 8px;
        align-items: center;
        align-self: stretch;
        border-radius: 8px;
        border: 1px solid var(--Black-15, #262626);
        background: var(--Black-06, #0F0F0F);

        .button-mobile-basic {
          display: flex;
          padding: 12px 20px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          flex: 1 0 0;
          border-radius: 100px;

          p::before {
            content: "Basic";
            color: var(--Grey-60, #999);
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;

          }
        }

        .button-mobile-standard {
          display: flex;
          padding: 12px 20px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          flex: 1 0 0;
          border-radius: 100px;

          p::before {
            content: "Standard";
            color: var(--Grey-60, #999);
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;

          }

        }

        .button-mobile-premium {
          display: flex;
          padding: 12px 20px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          flex: 1 0 0;
          border-radius: 100px;

          p::before {
            content: "Premium";
            color: var(--Grey-60, #999);
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;

          }
        }

        .active {
          content: "Premium";
          display: flex;
          padding: 12px 20px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          flex: 1 0 0;
          border-radius: 6px;
          background: var(--Black-12, #1F1F1F);
        }

      }

      .table-for-mobile {
        margin: 0 15px 80px 15px;
        display: flex;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
        border-radius: 12px;
        border: 1px solid var(--Black-15, #262626);
        background: var(--Black-06, #0F0F0F);

        .row-two-sections {
          display: flex;
          align-items: flex-start;
          gap: 20px;
          align-self: stretch;

          .data {
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            flex: 1 0 0;

            .header {
              align-self: stretch;
              color: var(--Grey-60, #999);
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;
            }

            .main {
              align-self: stretch;
              color: var(--Grey-95, #F1F1F3);
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;
            }
          }
        }

        .row-text {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 4px;
          align-self: stretch;

          td {
            .header {
              align-self: stretch;
              color: var(--Grey-60, #999);
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;
            }

            .main {
              align-self: stretch;
              color: var(--Grey-95, #F1F1F3);
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;
            }
          }
        }
      }

      .pricing-table-container {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 0.75rem;
        border: 1px solid $black-15;

        .header-row {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          border: 1px solid $black-15;
          background: $black-06;

          .header-row-column {
            display: flex;
            padding: 1.875rem;
            justify-content: center;
            align-items: center;
            gap: 0.625rem;
            flex: 1 0 0;

            p {
              flex: 1 0 0;
              color: $white;
              font-family: $font-Manrope;
              font-size: 1.25rem;
              font-style: normal;
              font-weight: 600;
              line-height: 150%;
            }
          }

          .header-row-column-popular {
            display: flex;
            padding: 1.875rem;
            align-items: center;
            gap: 0.5rem;
            flex: 1 0 0;

            p {
              color: $white;
              font-family: $font-Manrope;
              font-size: 1.25rem;
              font-style: normal;
              font-weight: 600;
              line-height: 150%;
            }

            .popular {
              display: flex;
              padding: 0.005rem 0.625rem;
              align-items: flex-start;
              gap: 0.625rem;
              border-radius: 0.125rem;
              background: $red-45;

              p {
                color: $white;
                font-family: $font-Manrope;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
              }
            }
          }
        }

        .common-row {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          border-bottom: 1px solid $black-15;

          .common-row-field {
            height: 80px;
            display: flex;
            padding: 1.875rem;
            justify-content: center;
            align-items: center;
            gap: 0.625rem;
            flex: 1 0 0;
            border: 1px solid $black-15;

            p {
              flex: 1 0 0;
              color: $gray-60;
              font-family: $font-Manrope;
              font-size: 1.125rem;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;
            }
          }
        }
      }

    }


  }

  .container-free-trial {
    @include container-free-trial-mobile;
  }

  footer {
   @include footer-style-mobile;
  }

}