@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&display=swap');

$font-Manrope: 'Manrope', sans-serif;
$font-Archivo: 'Archivo', sans-serif;
$to-hide: none;
$font-size-capital: 18px;
$font-size-small: 14px;
$black-08: #141414;
$black-06: #0F0F0F;
$black-10: #1a1a1a;
$black-12: #1f1f1f;
$black-15: #262626;
$black-20: #333;
$red-45: #E50000;
$gray-60: #999;
$white: #fff;
$zero-margin: 0;
$border-radius-12: 12px;
$border-radius-8: 8px;

body {
  font-family: $font-Manrope;
  background-color: $black-08;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 162px;
  box-sizing: border-box;
  gap: 0;
  text-align: left;
  font-size: 18px;
  color: #bfbfbf;
  font-family: $font-Manrope;

  .logo-icon {
    width: 199px;
    position: relative;
    height: 60px;
    z-index: 0;
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    z-index: 1;

    .icon {
      width: 50px;
      height: 50px;
      overflow: hidden;
      flex-shrink: 0;
    }
  }

  .buttons-container-slider {
    margin: 0 !important;
    position: absolute;
    top: calc(50% - 42px);
    left: calc(50% - 281.5px);
    border-radius: 12px;
    background-color: #0f0f0f;
    border: 4px solid #1f1f1f;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 40px 10px 40px;
    gap: 30px;
    z-index: 2;

    .button1 {
      border-radius: 8px;
      background-color: #1a1a1a;
      border: 1px solid #1a1a1a;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: 14px 24px;
      color: #fff;

      .text {
        position: relative;
        line-height: 150%;
        font-weight: 500;
      }
    }

    .text-button {
      position: relative;
      line-height: 150%;
    }
  }
}

.hidden-form {
  display: $to-hide;
}

.form-container {
  margin: 7.19rem 10.13rem 9.38rem 10.13rem;

  .form-wrapper {
    display: flex;
    width: 1589px;
    align-items: flex-start;
    gap: 3.125rem;
    flex: 1 0 0;

    .aside-img {
      display: flex;
      width: 34rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 7rem;
      flex-shrink: 0;
      align-self: stretch;

      .title-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
        align-self: stretch;

        .heading {
          align-self: stretch;
          color: $white;
          font-family: $font-Manrope;
          font-size: 48px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%;
          margin: 0;
        }

        .paragraph {
          margin-bottom: 0;
          margin-top: 14px;
          align-self: stretch;
          color: $gray-60;
          font-family: $font-Manrope;
          font-size: $font-size-capital;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }

      .images {
        display: flex;
        align-items: center;
        flex: 1 0 0;
        align-self: stretch;
        border-radius: 6px;
        border: 6px solid $black-15;
        background: $black-06;

        .image-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
          flex: 1 0 0;
          align-self: stretch;

          .con-img {
            display: flex;
            align-items: flex-start;
            gap: 20px;
            flex: 1 0 0;
            align-self: stretch;
          }
        }
      }
    }

    .contact-form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 50px;
      flex: 1 0 0;
      border-radius: $border-radius-12;
      border: 1px solid $black-15;
      background: $black-06;

      .form-group1 {
        display: flex;
        align-items: flex-start;
        gap: 50px;
        margin: 50px;
        align-self: stretch;

        .form-name {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          flex: 1 0 0;

          .name-header {
            align-self: stretch;
            color: $white;
            font-family: $font-Manrope;
            font-size: $font-size-capital;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
          }

          .name-input {
            width: 413px;
            display: flex;
            padding: 20px;
            align-items: center;
            gap: 77px;
            align-self: stretch;
            border-radius: $font-size-small;
            border: 1px solid $black-15;
            background: $black-08;
          }
        }

        .form-surname {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          flex: 1 0 0;

          .surname-header {
            color: $white;
            font-family: $font-Manrope;
            font-size: $font-size-capital;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
          }

          .surname-input {
            width: 413px;
            display: flex;
            padding: 20px;
            align-items: center;
            gap: 77px;
            align-self: stretch;
            border-radius: $border-radius-8;
            border: 1px solid $black-15;
            background: $black-08;
          }
        }
      }

      .form-group2 {
        margin: 50px;
        display: flex;
        align-items: flex-start;
        gap: 50px;
        align-self: stretch;

        .form-email {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          flex: 1 0 0;

          .email-heading {
            align-self: stretch;
            color: $white;
            font-family: $font-Manrope;
            font-size: $font-size-capital;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
          }

          .email-input {
            width: 413px;
            display: flex;
            padding: 20px;
            align-items: center;
            gap: 77px;
            align-self: stretch;
            border-radius: 8px;
            border: 1px solid $black-15;
            background: $black-08;
          }

        }

        .form-phone-number {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          flex: 1 0 0;

          .phone-label {
            color: $white;
            font-family: $font-Manrope;
            font-size: $font-size-capital;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
          }

          .phone-input-group {
            display: flex;
            align-items: center;
            gap: 16px;
            align-self: stretch;

            .country-select-wrapper {
              display: flex;
              padding: 0 12px;
              align-items: center;
              gap: 6px;
              align-self: stretch;
              border-radius: $border-radius-8;
              border: 1px solid $black-15;
              background: $black-08;
            }

            .phone-number-input {
              display: flex;
              padding: 20px;
              align-items: center;
              gap: 77px;
              flex: 1 0 0;
              border-radius: $border-radius-8;
              border: 1px solid $black-15;
              background: $black-08;
            }
          }
        }
      }

      .form-group3 {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        padding: 50px;

        .form-heading {
          align-self: stretch;
          color: $white;
          font-family: $font-Manrope;
          font-size: $font-size-capital;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
        }

        .form-message {
          display: flex;
          height: 163px;
          padding: 20px;
          align-items: flex-start;
          gap: 77px;
          align-self: stretch;
          border-radius: $border-radius-8;
          border: 1px solid $black-15;
          background: $black-08;
        }
      }

      .form-actions {
        display: flex;
        align-items: center;
        gap: 70px;
        align-self: stretch;
        margin: 50px;

        .check-box {
          display: flex;
          align-items: center;
          gap: 10px;
          flex: 1 0 0;

          .field-check-box {
            width: 28px;
            height: 28px;
            border-radius: 4px;
            border: 1px solid $black-15;
            background: $black-08;
          }

          p {
            color: $gray-60;
            font-family: $font-Manrope;
            font-size: $font-size-capital;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            flex: 1 0 0;
          }
        }

        .submit-button {
          display: flex;
          padding: 18px 24px;
          align-items: flex-start;
          gap: 10px;
          border-radius: $border-radius-8;
          background: $red-45;


          p {
            color: $white;
            font-family: $font-Manrope;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            margin: 0;
          }
        }
      }

    }
  }


}

.faq-section {
  margin: 0 10.13rem 9.38rem 10.13rem;

  .faq-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 80px;
    text-align: left;
    font-size: 38px;
    color: #fff;
    font-family: $font-Manrope;

    .section-header-reviews {
      align-self: stretch;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-start;
      gap: 100px;
      margin-right: 20px;
      margin-left: 20px;


      .text-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0;

        .section-header-title {
          align-self: stretch;
          position: relative;
          line-height: 150%;
          margin: 0;
          font-size: 38px;
        }

        .section-text {
          align-self: stretch;
          position: relative;
          font-size: $font-size-capital;
          line-height: 150%;
          color: #999;
          margin: 0;
        }
      }

      .primary-button {
        border-radius: 8px;
        background-color: #e50000;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0.5rem 2.4rem;
        font-size: $font-size-small;

        .text {
          position: relative;
          line-height: 150%;
          font-weight: 600;
          color: white;
        }
      }
    }

    .faq-container {
      display: flex;
      align-items: flex-start;
      gap: 5rem;
      align-self: stretch;

      .faq-column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1 0 0;

        .faq-item {
          display: flex;
          padding: 2.125rem;
          align-items: flex-start;
          gap: 1.25rem;
          align-self: stretch;

          .faq-number {
            display: flex;
            padding: 1rem 2.4rem;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.625rem;
            border-radius: 0.625rem;
            border: 1px solid $black-15;
            background: $black-12;

            p {
              color: $white;
              font-size: 1.45rem;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
          }

          .faq-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.25rem;
            flex: 1 0 0;
            align-self: stretch;

            h4 {
              align-self: stretch;
              color: $white;
              font-size: 1.375rem;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;
            }

            p {
              align-self: stretch;
              color: $gray-60;
              font-size: 1.125rem;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;
            }

            .faq-icon {
              width: 1.875rem;
              height: 1.875rem;
            }
          }
        }

        .faq-item-simple {
          display: flex;
          padding: 1.875rem 2.125rem;
          align-items: center;
          gap: 1.5rem;
          align-self: stretch;

          .faq-number {
            display: flex;
            padding: 1rem 2.4rem;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.625rem;
            border-radius: 0.625rem;
            border: 1px solid $black-15;
            background: $black-12;

            p {
              color: $white;
              font-size: 1.45rem;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
          }

          h4{
            flex: 1 0 0;
            color: $white;
            font-size: 1.375rem;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
          }

          .faq-icon{
            width: 1.875rem;
            height: 1.875rem;
          }
          .line {
            width: 47.375rem;
            height: 0.0625rem;
            background: linear-gradient(90deg, rgba(229, 0, 0, 0.00) 0%, #E50000 16.67%, rgba(229, 0, 0, 0.00) 100%);
          }
        }

        .line {
          width: 47.375rem;
          height: 0.0625rem;
          background: linear-gradient(90deg, rgba(229, 0, 0, 0.00) 0%, #E50000 16.67%, rgba(229, 0, 0, 0.00) 100%);
        }
      }

    }
  }


}

.container-free-trial {
  margin: 0 10.13rem 8.38rem 10.13rem;

  .free-trial-wrapper {
    width: 100%;
    position: relative;
    border-radius: 12px;
    background-color: #0f0f0f;
    border: 1px solid #262626;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 100px 80px;

    gap: 100px;
    text-align: left;
    font-size: 40px;
    color: #fff;
    font-family: $font-Manrope;

    .background-image-trial {
      width: 1800px;
      margin: 0 !important;
      position: absolute;
      top: calc(50% - 197.5px);
      left: calc(50% - 798px);
      height: 395px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;
      z-index: 0;

      .image-container-trial {
        align-self: stretch;
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
        z-index: 0;

        .image-icon1 {
          align-self: stretch;
          flex: 1;
          position: relative;
          max-width: 100%;
          overflow: hidden;
          max-height: 100px;
          object-fit: cover;
        }
      }

      .image-container1-trial {
        align-self: stretch;
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
        z-index: 1;

        .image-icon1 {
          align-self: stretch;
          flex: 1;
          position: relative;
          max-width: 100%;
          overflow: hidden;
          max-height: 100px;
          object-fit: cover;
        }
      }

      .image-container2-trial {
        align-self: stretch;
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
        z-index: 2;

        .image-icon1 {
          align-self: stretch;
          flex: 1;
          position: relative;
          max-width: 100%;
          overflow: hidden;
          max-height: 100px;
          object-fit: cover;
        }
      }

      .image-container3-trial {
        align-self: stretch;
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
        z-index: 3;

        .image-icon1 {
          align-self: stretch;
          flex: 1;
          position: relative;
          max-width: 100%;
          overflow: hidden;
          max-height: 100px;
          object-fit: cover;
        }
      }

      .fade-out-left1 {
        width: 100%;
        position: absolute;
        margin: 0 !important;
        top: calc(50% - 171.5px);
        right: 0;
        background: linear-gradient(90deg, #0F0F0F 2.42%, rgba(20, 15, 15, 0.97) 25.46%, rgba(34, 14, 14, 0.91) 46.72%, rgba(229, 0, 0, 0.00) 168.98%);
        height: 395px;
        mix-blend-mode: normal;
        z-index: 4;
      }

    }

    .text-container-trial {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 14px;
      z-index: 1;

      .title {
        align-self: stretch;
        position: relative;
        line-height: 150%;
        margin: 0;
        font-size: 35px;
      }

      .text {
        align-self: stretch;
        position: relative;
        font-size: $font-size-capital;
        line-height: 150%;
        color: #999;
        margin: 0;
      }
    }

    .primary-button-trial {
      border-radius: 8px;
      background-color: #e50000;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 18px 24px;
      z-index: 2;
      font-size: $font-size-capital;

      .text-trial {
        position: relative;
        line-height: 150%;
        font-weight: 600;
        color: white;
      }
    }
  }


}

.footer {

  display: flex;
  width: 120rem;
  padding: 6.25rem 10.125rem 3.125rem 2.125rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 6.25rem;
  background: $black-06;

  .footer-top {
    display: flex;
    align-items: flex-start;
    gap: 1.875rem;
    align-self: stretch;

    .item-footer-top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
      flex: 1 0 0;

      .header-footer-item {
        align-self: stretch;
        color: $white;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
      }

      .ref-items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.875rem;
        align-self: stretch;

        .ref-thing {
          align-self: stretch;
          color: $gray-60;
          font-size: 1.125rem;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
        }
      }
    }

    .links-footer-top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
      flex: 1 0 0;

      .header-footer-item {
        align-self: stretch;
        color: $white;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
      }

      .ref-buttons-items {
        display: flex;
        align-items: flex-start;
        gap: 0.875rem;

        .ref-button {
          display: flex;
          padding: 1rem;
          align-items: flex-start;
          gap: 0.625rem;
          border-radius: 0.5rem;
          border: 1px solid $black-15;
          background: $black-10;

          .ref-icon {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;

    .footer-line {
      width: 115.75rem;
      height: 0.0625rem;
      background: #262626;
    }

    .copyright {
      display: flex;
      gap:69rem;
      align-items: center;
      align-self: stretch;

      p {
        color: $gray-60;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
      .copyright-buttons{
        display: flex;
        align-items: flex-start;
        gap: 1.25rem;
        p{
          color: $gray-60;
          font-size: 1.125rem;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
        .copyright-line{
          width: 0.0625rem;
          height: 1.6875rem;
          background: #262626;
        }
      }
    }
  }
}
