@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body {
  background-color: #141414;
  font-family: 'Manrope', sans-serif;
}

.logo-icon {
  width: 199px;
  position: relative;
  height: 60px;
  z-index: 0;
}

.icon {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  z-index: 1;
}

.sub-container2 {
  .buttons-container {
    border-radius: 12px;
    background-color: #0f0f0f;
    border: 1px solid #1f1f1f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    gap: 16px;
  }
}

.sub-container2 {
  .buttons-container {
    .button-icon {
      width: 56px;
      border-radius: 8px;
      height: 56px;
    }
  }
}

.text {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  font-family: 'Manrope', sans-serif;
}

.button {
  border-radius: 8px;
  background-color: #1a1a1a;
  border: 1px solid #1a1a1a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 14px 24px;
  color: #fff;
}

.button1 {
  border-radius: 8px;
  background-color: #1a1a1a;
  border: 1px solid #1a1a1a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 14px 24px;
  color: #fff;
}

.text-button {
  position: relative;
  line-height: 150%;
  font-family: 'Manrope', sans-serif;
  margin: 15px;
}

.buttons-container-slider {
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 42px);
  left: calc(50% - 281.5px);
  border-radius: 12px;
  background-color: #0f0f0f;
  border: 4px solid #1f1f1f;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 40px 10px 10px;
  gap: 30px;
  z-index: 2;
}

.navbar {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 162px;
  box-sizing: border-box;
  gap: 0;
  text-align: left;
  font-size: 18px;
  color: #bfbfbf;
  font-family: Manrope sans-serif;
}

.hidden-form {
  display: none;
}

.image-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 12px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.image-container {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  z-index: 0;
  margin: 0;
}

.image-container1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  z-index: 1;
  margin: 0;
}

.image-container2 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  z-index: 2;
  margin: 0;
}

.image-container3 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  z-index: 3;
  margin: 0;
}

.image-icon36 {
  width: 1920px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 430px);
  left: 0;
  border-radius: 12px;
  height: 860px;
  object-fit: cover;
  mix-blend-mode: overlay;
  z-index: 4;
}

.fade-out-top {
  width: 1920px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: calc(50% - 960px);
  background: linear-gradient(180deg, #141414, rgba(20, 20, 20, 0));
  height: 581px;
  z-index: 5;
}

.fade-out-bottom {
  width: 1920px;
  position: absolute;
  margin: 0 !important;
  bottom: 0;
  left: calc(50% - 960px);
  background: linear-gradient(180deg, rgba(20, 20, 20, 0), #141414);
  height: 581px;
  z-index: 6;
}

.abstract-design-icon {
  width: 470px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 235px);
  left: calc(50% - 235px);
  height: 470px;
  z-index: 7;
}

.sub-container {
  align-self: stretch;
  height: 860px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 20px;
}

.text-container1 {
  .heading {
    margin: 0;
  }
}

.heading {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  width: 100%;
}

.paragraph {
  align-self: stretch;
  position: relative;
  font-size: 18px;
  width: 100%;
  line-height: 150%;
  color: #999;
}

.text-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
  width: 100%;

}

.text-container1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  margin: 0;
}

.icon {
  width: 50px;
  position: relative;
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
}

.text {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}

.button {
  border-radius: 8px;
  background-color: #e50000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 18px 24px;
  gap: 4px;
  text-align: left;
  font-size: 18px;
}

.sub-container1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 412px;
  gap: 50px;
  margin-top: -64px;
  position: relative;
}

.sub-container-grid {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  font-size: 18px;
}

.sub-container2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  font-size: 28px;
}

.container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: 50px;
  color: #fff;
  font-family: Manrope, sans-serif;
  margin-bottom: 100px;
}

.container3 {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 80px;
  text-align: left;
  font-size: 38px;
  color: #fff;
  font-family: Manrope, sans-serif;
}

.button-icon {
  width: 56px;
  border-radius: 8px;
  height: 56px;
  background-color: #1a1a1a;
}

.indicators-container {
  width: 81px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3px;
}

.shape {
  width: 23px;
  position: relative;
  border-radius: 100px;
  background-color: #e50000;
  height: 4px;
}

.shape1 {
  flex: 1;
  position: relative;
  border-radius: 100px;
  background-color: #333;
  height: 4px;
}

.card {
  flex: 1;
  border-radius: 12px;
  background-color: #1a1a1a;
  border: 1px solid #262626;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30px;
}

.container1 {
  align-self: stretch;
  height: 252px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 5px;
}

.container2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.heading1 {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}


.devices-section {
  margin-top: 35px;

  .section-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 80px;
    text-align: left;
    font-size: 38px;
    color: #fff;
    font-family: Manrope, sans-serif;

    .text-content {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 0 300px 0 0;
      gap: 14px;

      .section-header-title {
        align-self: stretch;
        position: relative;
        line-height: 150%;
        font-size: 38px;
        margin: 0;
      }

      .section-text {
        align-self: stretch;
        position: relative;
        font-size: 18px;
        line-height: 150%;
        color: #999;
      }
    }

    .img-content {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 30px;
      font-size: 24px;

      .cards-grid {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 30px;

        .device-card {
          flex: 1;
          border-radius: 12px;
          background: linear-gradient(221.52deg, rgba(229, 0, 0, 0.5), rgba(229, 0, 0, 0) 22%), #0f0f0f;
          border: 1px solid #262626;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 50px;
          gap: 30px;

          .card-header {
            align-self: stretch;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 16px;

            .device-icon {
              width: 72px;
              border-radius: 12px;
              height: 72px;
              background-color: #1a1a1a;
            }

            .card-title {
              flex: 1;
              position: relative;
              line-height: 150%;
              font-weight: 600;
            }
          }
        }

        .card-text {
          align-self: stretch;
          position: relative;
          font-size: 18px;
          line-height: 150%;
          color: #999;
        }
      }
    }

  }
}

.faq-section {
  margin-top: 35px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 80px;
  text-align: left;
  font-size: 38px;
  color: #fff;
  font-family: Manrope, sans-serif;

  .section-header-reviews {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 100px;
    margin-right: 20px;
    margin-left: 20px;


    .text-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 0;

      .section-header-title {
        align-self: stretch;
        position: relative;
        line-height: 150%;
        margin: 0;
        font-size: 38px;
      }

      .section-text {
        align-self: stretch;
        position: relative;
        font-size: 18px;
        line-height: 150%;
        color: #999;
        margin: 0;
      }
    }

    .primary-button {
      border-radius: 8px;
      background-color: #e50000;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 18px 24px;
      font-size: 14px;

      .text {
        position: relative;
        line-height: 150%;
        font-weight: 600;
        color: white;
      }
    }
  }

  .faq-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 80px;
    font-size: 20px;

    .faq-items {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .faq-item {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 34px;
        gap: 20px;

        .item-number {
          border-radius: 10px;
          background-color: #1f1f1f;
          border: 1px solid #262626;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 20px;
          margin-left: 15px;

          .number {
            position: relative;
            font-weight: 600;

          }
        }

        .item-content {
          margin-right: 15px;
          align-self: stretch;
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 20px;
          font-size: 22px;


          .item-title {
            align-self: stretch;
            position: relative;
            line-height: 150%;
            font-weight: 500;
          }

          .gradient-line {
            width: 100%;
            height: 1px;
            border: none;
            background: linear-gradient(
                            90deg,
                            #333 0%,
                            #333 25%,
                            #ff0000 50%,
                            #333 75%,
                            #333 100%
            );
          }

          .item-text {
            align-self: stretch;
            position: relative;
            font-size: 18px;
            line-height: 150%;
            color: #999;
          }
        }

        .toggle-icon {
          margin-right: 30px;
          width: 30px;
          position: relative;
          height: 30px;
          overflow: hidden;
          flex-shrink: 0;
        }

      }
    }
  }
}


.pricing-section {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 80px;
  text-align: left;
  font-size: 38px;
  color: #fff;
  font-family: Manrope, sans-serif;

  .section-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 100px;

    .text-content {
      align-self: stretch;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;

      .section-header-title {
        align-self: stretch;
        position: relative;
        line-height: 150%;
        margin: 0;
        font-size: 35px;
      }

      .section-text {
        align-self: stretch;
        position: relative;
        font-size: 18px;
        line-height: 150%;
        color: #999;
      }
    }

    .plan-tabs {
      border-radius: 10px;
      background-color: #0f0f0f;
      border: 1px solid #262626;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: 10px;
      font-size: 18px;

      .button-active {
        border-radius: 10px;
        background-color: #1f1f1f;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 14px 24px;

        .text {
          position: relative;
          line-height: 150%;
          font-weight: 500;
          color: white;
        }
      }

      .button {
        border-radius: 100px;
        background-color: #1a1a1a;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 14px 24px;
        color: #999;

        .text-tabs {
          position: relative;
          line-height: 150%;
          font-weight: 500;
        }
      }
    }
  }

  .pricing-cards {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    font-size: 24px;

    .plan-card {
      flex: 1;
      border-radius: 12px;
      background-color: #1a1a1a;
      border: 1px solid #262626;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 50px;
      gap: 50px;

      .card-content {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 16px;

        .plan-title {
          align-self: stretch;
          position: relative;
          line-height: 150%;
        }

        .plan-text {
          align-self: stretch;
          position: relative;
          font-size: 18px;
          line-height: 150%;
          color: #999;
        }
      }

      .plan-price {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        gap: 4px;
        font-size: 40px;

        .price {
          position: relative;
          line-height: 73%;
          font-weight: 600;
        }

        .period {
          position: relative;
          font-size: 18px;
          line-height: 73%;
          font-weight: 500;
          color: #999;
        }
      }

      .plan-actions {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
        font-size: 18px;

        .button1 {
          flex: 1;
          border-radius: 8px;
          background-color: #141414;
          border: 1px solid #262626;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding: 18px 24px;

          .text3 {
            position: relative;
            line-height: 150%;
            font-weight: 600;

          }
        }

        .button2 {
          flex: 1;
          border-radius: 8px;
          background-color: #e50000;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding: 18px 24px;

          .text3 {
            position: relative;
            line-height: 150%;
            font-weight: 600;
            color: white;
          }
        }
      }
    }
  }
}

.container-free-trial {
  width: 100%;
  position: relative;
  border-radius: 12px;
  background-color: #0f0f0f;
  border: 1px solid #262626;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 100px 80px;
  margin-top: 35px;
  gap: 100px;
  text-align: left;
  font-size: 40px;
  color: #fff;
  font-family: Manrope, sans-serif;

  .background-image-trial {
    width: 1800px;
    margin: 0 !important;
    position: absolute;
    top: calc(50% - 197.5px);
    left: calc(50% - 798px);
    height: 395px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    z-index: 0;

    .image-container-trial {
      align-self: stretch;
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 20px;
      z-index: 0;

      .image-icon1 {
        align-self: stretch;
        flex: 1;
        position: relative;
        max-width: 100%;
        overflow: hidden;
        max-height: 100px;
        object-fit: cover;
      }
    }

    .image-container1-trial {
      align-self: stretch;
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 20px;
      z-index: 1;

      .image-icon1 {
        align-self: stretch;
        flex: 1;
        position: relative;
        max-width: 100%;
        overflow: hidden;
        max-height: 100px;
        object-fit: cover;
      }
    }

    .image-container2-trial {
      align-self: stretch;
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 20px;
      z-index: 2;

      .image-icon1 {
        align-self: stretch;
        flex: 1;
        position: relative;
        max-width: 100%;
        overflow: hidden;
        max-height: 100px;
        object-fit: cover;
      }
    }

    .image-container3-trial {
      align-self: stretch;
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 20px;
      z-index: 3;

      .image-icon1 {
        align-self: stretch;
        flex: 1;
        position: relative;
        max-width: 100%;
        overflow: hidden;
        max-height: 100px;
        object-fit: cover;
      }
    }

    .fade-out-left1 {
      width: 100%;
      position: absolute;
      margin: 0 !important;
      top: calc(50% - 171.5px);
      right: 0;
      background: linear-gradient(89.97deg, #0f0f0f 2.08%, rgba(20, 15, 15, 0.97) 15.63%, rgba(34, 14, 14, 0.91) 28.13%, rgba(229, 0, 0, 0));
      height: 395px;
      mix-blend-mode: normal;
      z-index: 4;
    }

  }

  .text-container-trial {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14px;
    z-index: 1;

    .title {
      align-self: stretch;
      position: relative;
      line-height: 150%;
      margin: 0;
      font-size: 35px;
    }

    .text {
      align-self: stretch;
      position: relative;
      font-size: 18px;
      line-height: 150%;
      color: #999;
      margin: 0;
    }
  }

  .primary-button-trial {
    border-radius: 8px;
    background-color: #e50000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 18px 24px;
    z-index: 2;
    font-size: 18px;

    .text-trial {
      position: relative;
      line-height: 150%;
      font-weight: 600;
      color: white;
    }
  }
}

.footer-container {
  width: 100%;
  position: relative;
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 100px 162px 50px;
  box-sizing: border-box;
  gap: 100px;
  text-align: left;
  font-size: 20px;
  color: #fff;
  font-family: Manrope, sans-serif;

  .footer-nav {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;

    .footer-section {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 24px;

      .footer-title {
        align-self: stretch;
        position: relative;
        line-height: 150%;
        font-weight: 600;
      }

      .footer-links {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 14px;
        font-size: 18px;
        color: #999;

        .footer-link {
          align-self: stretch;
          position: relative;
          line-height: 150%;
          font-weight: 500;
        }
      }

      .footer-links-icons {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 14px;
        font-size: 18px;
        color: #999;

        .footer-link {
          align-self: stretch;
          position: relative;
          line-height: 150%;
          font-weight: 500;
          background-color: #1a1a1a;
          padding: 10px;
          border-radius: 5px;
        }
      }
    }
  }
}

.footer-bottom {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  font-size: 18px;
  color: #999;

  .divider {
    align-self: stretch;
    position: relative;
    border-top: 1px solid #262626;
    box-sizing: border-box;
    height: 15px;

  }

  .bottom-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;

    .copyright {
      position: relative;
      line-height: 150%;
    }

    .legal-links {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 20px;

      .legal-link {
        position: relative;
        line-height: 150%;
      }

      .divider-link {
        align-self: stretch;
        width: 1px;
        position: relative;
        border-right: 1px solid #262626;
        box-sizing: border-box;
      }
    }
  }
}
