@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "../mixins/mixins";

$font-Manrope: 'Manrope', sans-serif;
$to-hide: none;
$font-size-capital: 18px;
$font-size-small: 14px;
$black-08: #141414;
$black-06: #0F0F0F;
$black-10: #1a1a1a;
$black-15: #262626;
$black-20: #333;
$red-45: #E50000;
$gray-60: #999;
$gray-75: #BFBFBF;
$white: #fff;
$zero-margin: 0;
$border-radius-12: 12px;
$border-radius-8: 8px;


body {
  @include body;
}

main {
  @include main;
}

.burger-menu {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-header {
  @include site-header-desktop;
}

.hidden-form {
  display: $to-hide;
}

.movie-banner {
  margin-top: 50px;
  width: 1594px;

  .movie-wrapper {
    width: 100%;
    position: relative;
    border-radius: 12px;
    height: 978px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 50px 50px 20px;
    box-sizing: border-box;
    gap: 50px;
    background-image: url('../icons/stranger-things-background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    font-size: $font-size-capital;
    color: #fff;
    font-family: Manrope, sans-serif;

    .container {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      gap: 30px;
      z-index: 4;

      .text-container {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0 150px;
        gap: 4px;
        margin: 0;

        .hero-title {
          align-self: stretch;
          position: relative;
          line-height: 150%;
          font-size: 16px;
          margin: 0;
        }

        .hero-description {
          align-self: stretch;
          position: relative;
          font-size: $font-size-small;
          line-height: 150%;
          font-weight: 500;
          color: #999;
        }
      }
    }

    .hero-actions {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 20px;
      text-align: left;
      font-size: 18px;

      .primary-button {
        border-radius: 8px;
        background-color: #e50000;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 14px 24px;
        gap: 4px;


        .button-icon {
          width: 28px;
          position: relative;
          height: 28px;
          overflow: hidden;
          flex-shrink: 0;

        }

        .text {
          position: relative;
          line-height: 153%;
          font-weight: 600;
          color: white;
        }
      }

      .secondary-actions {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;

        .action-button {
          display: flex;
          padding: 12px;
          align-items: flex-start;
          gap: 10px;
          border-radius: 8px;
          border: 1px solid var(--Black-15, #262626);
          background: var(--Black-06, #0F0F0F);

          .button-icon2 {
            width: 24px;
            border-radius: 8px;
            height: 24px;
          }
        }
      }
    }

    .buttons-container-slider {
      align-self: stretch;
      border-radius: 12px;
      display: none;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 0;
      margin-bottom: 5rem;
      z-index: 3;

      .button-icon {
        width: 56px;
        border-radius: 8px;
        height: 56px;
        background-color: $black-06;
      }

      .indicators-container {
        width: 81px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 3px;
        z-index: 4;

        .shape {
          width: 23px;
          position: relative;
          border-radius: 100px;
          background-color: #e50000;
          height: 4px;
          z-index: 4;
        }

        .shape1 {
          flex: 1;
          position: relative;
          border-radius: 100px;
          background-color: #333;
          height: 4px;
          z-index: 4;
        }
      }
    }
  }

}

.fade-out-bottom {
  width: 1920px;
  position: absolute;
  margin: 0 !important;
  bottom: 0;
  left: calc(50% - 960px);
  background: linear-gradient(180deg, rgba(20, 20, 20, 0), #141414);
  height: 400px;
  z-index: 3;
}

.movie-details {
  margin-top: 100px;
  width: 1601px;

  .movie-detail-wrapper {
    display: flex;
    width: 1601px;
    align-items: flex-start;
    gap: 20px;


    .details-content-left {
      @include details-content-left-desktop;

      .seasons-and-episodes {
        display: flex;
        padding: 40px;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        align-self: stretch;
        border-radius: 12px;
        background: $black-10;

        p {
          padding: 10px;
          align-self: stretch;
          color: #FFF;
          font-family: $font-Manrope;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
        }

        .list-seasons {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
          align-self: stretch;

          .closed-list {
            display: flex;
            padding: 24px 50px;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
            border-radius: $border-radius-12;
            border: 1px solid $black-15;
            background: $black-06;

            .title-season {
              display: flex;
              align-items: center;
              gap: 10px;

              h3 {
                color: $white;
                font-family: $font-Manrope;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%;
              }

              p {
                color: $gray-60;
                font-family: $font-Manrope;
                font-size: $font-size-capital;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
              }
            }

            .icon-season {
              display: flex;
              padding: 14px;
              align-items: center;
              gap: 10px;
              border-radius: 100px;
              border: 1px solid $black-15;
              background: $black-08;

              .icon {
                width: 24px;
                height: 24px;
              }
            }
          }

          .opened-list {
            display: flex;
            padding: 50px;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
            align-self: stretch;
            border-radius: 12px;
            border: 1px solid $black-15;
            background: $black-06;

            .opened-list-header {
              display: flex;
              justify-content: space-between;
              align-items: center;
              align-self: stretch;

              .title-season {
                display: flex;
                align-items: center;
                gap: 10px;

                h3 {
                  color: $white;
                  font-family: $font-Manrope;
                  font-size: 24px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 150%;
                }

                p {
                  color: $gray-60;
                  font-family: $font-Manrope;
                  font-size: $font-size-capital;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 150%;
                }
              }

              .icon-season {
                display: flex;
                padding: 14px;
                align-items: center;
                gap: 10px;
                border-radius: 100px;
                border: 1px solid $black-15;
                background: $black-08;

                .icon {
                  width: 24px;
                  height: 24px;
                }
              }
            }

            .opened-list-main {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              align-self: stretch;

              .episode {
                display: flex;
                padding: 40px 0;
                align-items: center;
                gap: 20px;
                align-self: stretch;
                border-top: 1px solid $black-15;
                border-bottom: 1px solid $black-15;

                .number-episode {
                  padding-top: 0.6rem;
                  width: 60px;
                  color: $gray-60;
                  font-family: $font-Manrope;
                  font-size: 30px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 150%;
                }

                .episode-icon {
                  display: flex;
                  width: 172px;
                  padding: 0;
                  justify-content: center;
                  align-items: center;
                  gap: 10px;
                  border-radius: $border-radius-12;
                }

                .description-episode {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  gap: 0;
                  flex: 1 0 0;

                  .episode-header {
                    display: flex;
                    align-items: center;
                    align-self: stretch;

                    p {
                      flex: 1 0 0;
                      color: $white;
                      font-family: $font-Manrope;
                      font-size: 18px;
                      font-style: normal;
                      font-weight: 600;
                      line-height: 150%;
                      margin: 0;
                    }

                    .duration {
                      display: flex;
                      padding: 0 12px;
                      align-items: center;
                      gap: 4px;
                      border-radius: $border-radius-8;
                      border: 1px solid $black-15;
                      background: $black-08;

                      .clock {
                        width: 24px;
                        height: 24px;
                      }

                      .time {
                        color: $gray-60;
                        font-family: $font-Manrope;
                        font-size: $font-size-capital;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%;
                        margin: 0;
                      }
                    }
                  }

                  .description-episode-description {
                    align-self: stretch;
                    color: $gray-60;
                    font-family: $font-Manrope;
                    font-size: $font-size-small;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    margin: 0;
                  }
                }
              }
            }

          }
        }
      }

      .movie-description {

        @include movie-description-desktop;
      }

      .movie-meta-for-mobile {
        @include movie-meta-for-mobile-desktop;
      }

      .movie-cast {

        @include movie-cast-desktop;
      }

      .movie-reviews {

        @include movie-reviews-desktop;
      }

      .reviews-controls {
        @include reviews-controls-desktop;
      }
    }

    .movie-meta {
      @include movie-meta-desktop;
    }
  }

}

.container-free-trial {
  @include container-free-trial-desktop
}

footer {
  @include footer-style-desktop;
}


@media (max-width: 1440px) {
  body {
    @include body;
  }

  main {
    @include main;
  }

  .burger-menu {
    display: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .site-header {
    @include site-header-laptop
  }

  .hidden-form {
    display: $to-hide;
  }

  .movie-banner {
    margin-top: 59px;
    width: 1280px;

    .movie-wrapper {
      display: flex;
      width: 1280px;
      height: 709px;
      padding: 40px 40px 16px 40px;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      gap: 24px;
      flex-shrink: 0;
      border-radius: 12px;
      border: 1px solid #262626;
      background: linear-gradient(0deg, #141414 0%, rgba(20, 20, 20, 0.00) 100%), url(../icons/stranger-things-background.svg) lightgray 50% / cover no-repeat;

      .container {
        z-index: 4;
        display: flex;
        padding: 0 100px;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        align-self: stretch;

        .text-container {
          align-self: stretch;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          padding: 0 150px;
          gap: 4px;
          margin: 0;

          .hero-title {
            align-self: stretch;
            color: var(--Absolute-White, #FFF);
            text-align: center;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
          }

          .hero-description {
            align-self: stretch;
            color: var(--Grey-60, #999);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
          }
        }
      }

      .hero-actions {
        display: flex;
        align-items: center;
        gap: 20px;

        .primary-button {
          display: flex;
          padding: 14px 20px;
          align-items: center;
          gap: 4px;
          border-radius: 8px;
          background: var(--Red-45, #E50000);


          .button-icon {
            width: 24px;
            height: 24px;
          }

          .text {
            position: relative;
            line-height: 153%;
            font-weight: 600;
            color: white;
          }
        }

        .secondary-actions {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 10px;

          .action-button {
            border-radius: 8px;
            border: 1px solid var(--Black-15, #262626);
            background: var(--Black-06, #0F0F0F);

            .button-icon2 {
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      .buttons-container-slider {
        align-self: stretch;
        border-radius: 12px;
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0;
        margin-bottom: 5rem;
        z-index: 3;

        .button-icon {
          border-radius: 8px;
          border: 1px solid var(--Black-15, #262626);
          background: var(--Black-06, #0F0F0F);
          display: flex;
          padding: 12px;
          align-items: flex-start;
          gap: 10px;
        }

        .indicators-container {
          width: 81px;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 3px;
          z-index: 4;

          .shape {
            width: 23px;
            position: relative;
            border-radius: 100px;
            background-color: #e50000;
            height: 4px;
            z-index: 4;
          }

          .shape1 {
            flex: 1;
            position: relative;
            border-radius: 100px;
            background-color: #333;
            height: 4px;
            z-index: 4;
          }
        }
      }
    }

  }

  .fade-out-bottom {
    width: 1920px;
    position: absolute;
    margin: 0 !important;
    bottom: 0;
    left: calc(50% - 960px);
    background: linear-gradient(180deg, rgba(20, 20, 20, 0), #141414);
    height: 400px;
    z-index: 3;
  }

  .movie-details {
    margin-top: 80px;
    width: 1286px;

    .movie-detail-wrapper {
      display: flex;
      width: 1286px;
      align-items: flex-start;
      gap: 20px;


      .details-content-left {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
        flex: 1 0 0;
        width: 790px;

        .seasons-and-episodes {
          display: flex;
          padding: 40px;
          flex-direction: column;
          align-items: flex-start;
          gap: 40px;
          align-self: stretch;
          border-radius: 12px;
          background: $black-10;
          width: 770px;

          p {
            padding: 10px;
            align-self: stretch;
            color: #FFF;
            font-family: $font-Manrope;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
          }

          .list-seasons {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            align-self: stretch;

            .closed-list {
              display: flex;
              padding: 24px 50px;
              justify-content: space-between;
              align-items: center;
              align-self: stretch;
              border-radius: $border-radius-12;
              border: 1px solid $black-15;
              background: $black-06;

              .title-season {
                display: flex;
                align-items: center;
                gap: 10px;

                h3 {
                  color: $white;
                  font-family: $font-Manrope;
                  font-size: 24px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 150%;
                }

                p {
                  color: $gray-60;
                  font-family: $font-Manrope;
                  font-size: $font-size-capital;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 150%;
                }
              }

              .icon-season {
                display: flex;
                padding: 14px;
                align-items: center;
                gap: 10px;
                border-radius: 100px;
                border: 1px solid $black-15;
                background: $black-08;

                .icon {
                  width: 24px;
                  height: 24px;
                }
              }
            }

            .opened-list {
              display: flex;
              padding: 50px;
              flex-direction: column;
              align-items: flex-start;
              gap: 30px;
              align-self: stretch;
              border-radius: 12px;
              border: 1px solid $black-15;
              background: $black-06;

              .opened-list-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;

                .title-season {
                  display: flex;
                  align-items: center;
                  gap: 10px;

                  h3 {
                    color: $white;
                    font-family: $font-Manrope;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%;
                  }

                  p {
                    color: $gray-60;
                    font-family: $font-Manrope;
                    font-size: $font-size-capital;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                  }
                }

                .icon-season {
                  display: flex;
                  padding: 14px;
                  align-items: center;
                  gap: 10px;
                  border-radius: 100px;
                  border: 1px solid $black-15;
                  background: $black-08;

                  .icon {
                    width: 24px;
                    height: 24px;
                  }
                }
              }

              .opened-list-main {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                align-self: stretch;

                .episode {
                  display: flex;
                  padding: 40px 0;
                  align-items: center;
                  gap: 20px;
                  align-self: stretch;
                  border-top: 1px solid $black-15;
                  border-bottom: 1px solid $black-15;

                  .number-episode {
                    padding-top: 0.6rem;
                    width: 60px;
                    color: $gray-60;
                    font-family: $font-Manrope;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%;
                  }

                  .episode-icon {
                    display: flex;
                    width: 172px;
                    padding: 0;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: $border-radius-12;
                  }

                  .description-episode {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 0;
                    flex: 1 0 0;

                    .episode-header {
                      display: flex;
                      align-items: center;
                      align-self: stretch;

                      p {
                        flex: 1 0 0;
                        color: $white;
                        font-family: $font-Manrope;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 150%;
                        margin: 0;
                      }

                      .duration {
                        display: flex;
                        padding: 0 12px;
                        align-items: center;
                        gap: 4px;
                        border-radius: $border-radius-8;
                        border: 1px solid $black-15;
                        background: $black-08;

                        .clock {
                          width: 24px;
                          height: 24px;
                        }

                        .time {
                          color: $gray-60;
                          font-family: $font-Manrope;
                          font-size: $font-size-capital;
                          font-style: normal;
                          font-weight: 500;
                          line-height: 150%;
                          margin: 0;
                        }
                      }
                    }

                    .description-episode-description {
                      align-self: stretch;
                      color: $gray-60;
                      font-family: $font-Manrope;
                      font-size: $font-size-small;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 150%;
                      margin: 0;
                    }
                  }
                }
              }

            }
          }
        }

        .movie-description {
          @include movie-description-laptop;
          width: 768px;
        }

        .movie-meta-for-mobile {
          @include movie-meta-for-mobile-laptop;
          width: 768px;

        }

        .movie-cast {
          @include movie-cast-laptop;
          width: 768px;

        }

        .movie-reviews {
          @include movie-reviews-laptop;
          width: 768px;

        }

        .reviews-controls {
          @include reviews-controls-laptop;
          width: 768px;

        }
      }

      .movie-meta {
        @include movie-meta-laptop;
        width: 336px;
      }
    }
  }

  .container-free-trial {

    @include container-free-trial-laptop;

  }

  footer {
    @include footer-style-laptop;
  }

}

@media (max-width: 390px) {

  .disable {
    display: none;
  }

  body {
    @include body;
  }

  main {
    @include main;
  }

  .site-header {
    @include site-header-mobile;
  }

  .hero-description {
    display: none
  }

  .movie-banner {
    margin-top: 40px;
    width: 358px;

    .movie-wrapper {
      display: flex;
      width: 100%;
      height: 468px;
      padding: 24px 24px 16px 24px;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      flex-shrink: 0;
      border-radius: 12px;
      border: 1px solid #262626;
      background: linear-gradient(0deg, #141414 0%, rgba(20, 20, 20, 0.00) 100%), url(../icons/stranger-things-background.svg) lightgray 50% / cover no-repeat;

      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        align-self: stretch;
        z-index: 4;
        padding: 0;

        .text-container {
          width: 100%;
          align-self: stretch;
          color: var(--Absolute-White, #FFF);
          text-align: center;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%;

          .hero-title {
            align-self: stretch;
            position: relative;
            line-height: 150%;
          }

        }
      }

      .hero-actions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        align-self: stretch;

        .primary-button {
          display: flex;
          padding: 14px 20px;
          justify-content: center;
          align-items: center;
          gap: 4px;
          align-self: stretch;
          border-radius: 8px;
          background: var(--Red-45, #E50000);

          .button-icon {
            width: 24px;
            height: 24px;
          }

          .text {
            color: var(--Absolute-White, #FFF);
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 153%;
          }
        }

        .secondary-actions {
          display: flex;
          align-items: flex-start;
          gap: 8px;

          .action-button {
            display: flex;
            padding: 12px;
            align-items: flex-start;
            gap: 10px;
            border-radius: 8px;
            border: 1px solid var(--Black-15, #262626);
            background: var(--Black-06, #0F0F0F);

            .button-icon2 {
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      .buttons-container1 {
        align-self: stretch;
        border-radius: 12px;
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0;
        z-index: 3;

        .button-icon {
          width: 56px;
          border-radius: 8px;
          height: 56px;
          background-color: $black-06;
        }

        .indicators-container {
          width: 81px;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 3px;
          z-index: 4;

          .shape {
            width: 23px;
            position: relative;
            border-radius: 100px;
            background-color: #e50000;
            height: 4px;
            z-index: 4;
          }

          .shape1 {
            flex: 1;
            position: relative;
            border-radius: 100px;
            background-color: #333;
            height: 4px;
            z-index: 4;
          }
        }
      }

      .buttons-container-slider {
        display: none;
      }
    }
  }

  .movie-details {
    width: 358px;
    margin-top: 60px;

    .movie-detail-wrapper {
      display: flex;
      width: 310px;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      .details-content-left {
        @include details-content-left-mobile;

        .seasons-and-episodes {
          width: 310px;
          display: flex;
          padding: 24px;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
          align-self: stretch;
          border-radius: 10px;
          background: $black-10;
          border: 1px solid var(--Black-15, #262626);

          p {
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            align-self: stretch;
          }

          .list-seasons {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            align-self: stretch;

            .closed-list {
              display: flex;
              padding: 16px 20px;
              justify-content: space-between;
              align-items: center;
              align-self: stretch;
              border-radius: 10px;
              border: 1px solid var(--Black-15, #262626);
              background: var(--Black-06, #0F0F0F);

              .title-season {
                display: flex;
                align-items: center;
                gap: 6px;

                h3 {
                  color: var(--Absolute-White, #FFF);
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 150%;
                }

                p {
                  color: var(--Grey-60, #999);
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 150%;
                }
              }

              .icon-season {
                display: flex;
                padding: 12px;
                align-items: center;
                gap: 10px;
                border-radius: 100px;
                border: 1px solid var(--Black-15, #262626);
                background: var(--Black-08, #141414);

                .icon {
                  width: 20px;
                  height: 20px;
                }
              }
            }

            .opened-list {
              display: flex;
              padding: 16px 20px;
              flex-direction: column;
              align-items: flex-start;
              gap: 20px;
              align-self: stretch;
              border-radius: 10px;
              border: 1px solid $black-15;
              background: $black-06;

              .opened-list-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;

                .title-season {
                  display: flex;
                  align-items: center;
                  gap: 6px;

                  h3 {
                    color: var(--Absolute-White, #FFF);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%;
                  }

                  p {
                    color: var(--Grey-60, #999);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                  }
                }

                .icon-season {
                  display: flex;
                  padding: 12px;
                  align-items: center;
                  gap: 10px;
                  border-radius: 100px;
                  border: 1px solid var(--Black-15, #262626);
                  background: var(--Black-08, #141414);

                  .icon {
                    width: 20px;
                    height: 20px;
                  }
                }
              }

              .opened-list-main {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
                align-self: stretch;

                .episode {
                  display: grid;
                  grid-template-columns: auto 1fr;
                  grid-template-rows: auto auto;
                  padding: 20px;
                  gap: 12px 0;
                  border-radius: 8px;
                  background: var(--Black-08, #141414);

                  .episode-icon {
                    grid-row: 1;
                    grid-column: 1;
                    width: 182px;
                    border-radius: 12px;
                    border: 1px solid var(--Black-15, #262626);
                    object-fit: cover;
                  }

                  .number-episode {
                    grid-row: 1;
                    grid-column: 2;
                    justify-self: center;
                    align-self: center;
                    color: var(--Grey-60, #999);
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 150%;
                    padding-left: 20px;
                  }

                  .description-episode {
                    grid-row: 2;
                    grid-column: 1 / span 2;
                    display: grid;
                    grid-template-rows: auto auto;
                    gap: 8px;
                    width: 230px;

                    .episode-header {
                      display: contents;

                      p {
                        grid-row: 2;
                        color: $white;
                        font-family: $font-Manrope;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 150%;
                        margin: 0;
                        word-break: break-word;
                      }

                      .duration {
                        width: 88px;
                        grid-row: 1;
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        color: var(--Grey-60, #999);
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 150%;

                        .clock {
                          width: 20px;
                          height: 20px;
                        }

                        .time {
                          color: var(--Grey-60, #999);
                          font-size: 14px;
                          font-style: normal;
                          font-weight: 500;
                          line-height: 150%;
                        }
                      }
                    }

                    .description-episode-description {
                      display: none !important;
                    }
                  }
                }
              }
            }

          }
        }

        .movie-description {
          @include movie-description-mobile;
        }

        .movie-meta-for-mobile {
          @include movie-meta-for-mobile-mobile;
        }

        .movie-cast {
          @include movie-cast-mobile
        }

        .movie-reviews {
          @include movie-reviews-mobile;
        }

        .reviews-controls {
          @include reviews-controls-mobile;
          justify-content: center;
          width: 100%;

        }
      }

      .movie-meta {
        @include movie-meta-mobile;
      }

    }


  }

  .container-free-trial {
    @include container-free-trial-mobile;

  }

  footer {
    @include footer-style-mobile
  }

}