@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "../mixins/mixins";

$font-Manrope: 'Manrope', sans-serif;
$to-hide: none;
$font-size-capital: 18px;
$font-size-small: 14px;
$black-08: #141414;
$black-06: #0F0F0F;
$black-10: #1a1a1a;
$black-12: #1f1f1f;
$black-15: #262626;
$black-20: #333;
$red-45: #E50000;
$gray-60: #999;
$gray-75: #BFBFBF;
$white: #fff;
$zero-margin: 0;
$border-radius-12: 12px;
$border-radius-8: 8px;

body {
  @include body;
}

main {
  @include main;
}


.burger-menu {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-header {
  @include site-header-desktop;
}

.hidden-form {
  display: $to-hide;
}

.form-container {
  margin-top: 115px;
  width: 1589px;

  .form-wrapper {
    display: flex;
    width: 1589px;
    align-items: flex-start;
    gap: 3.125rem;
    flex: 1 0 0;

    .aside-img {
      display: flex;
      width: 533px;
      flex-direction: column;
      align-items: flex-start;
      gap: 7rem;
      flex-shrink: 0;
      align-self: stretch;

      .title-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
        align-self: stretch;

        .heading {
          align-self: stretch;
          color: $white;
          font-family: $font-Manrope;
          font-size: 48px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%;
          margin: 0;
        }

        .paragraph {
          margin-bottom: 0;
          margin-top: 14px;
          align-self: stretch;
          color: $gray-60;
          font-family: $font-Manrope;
          font-size: $font-size-capital;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }

      .images {
        display: flex;
        align-items: center;
        flex: 1 0 0;
        align-self: stretch;
        border-radius: 6px;
        border: 6px solid $black-15;
        background: $black-06;

        .image-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
          flex: 1 0 0;
          align-self: stretch;

          .con-img {
            display: flex;
            align-items: flex-start;
            gap: 20px;
            flex: 1 0 0;
            align-self: stretch;
          }
        }
      }
    }

    .contact-form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 50px;
      flex: 1 0 0;
      border-radius: $border-radius-12;
      border: 1px solid $black-15;
      background: $black-06;

      .form-group1 {
        display: flex;
        align-items: flex-start;
        gap: 50px;
        margin: 50px;
        align-self: stretch;

        .form-name {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          flex: 1 0 0;

          .name-header {
            align-self: stretch;
            color: $white;
            font-family: $font-Manrope;
            font-size: $font-size-capital;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            transition: 0.3s ease;
          }

          .name-input {
            width: 373px;
            display: flex;
            padding: 20px;
            align-items: center;
            gap: 77px;
            align-self: stretch;
            border-radius: 8px;
            border: 1px solid $black-15;
            background: $black-08;
            color: var(--Grey-60, #999);
            transition: 0.3s ease;
            font-family: $font-Manrope;
            font-size: 18px;

            &:hover{
              border: 1px solid #ff1919;
            }

            &::placeholder {
              font-family: $font-Manrope;
              font-size: 18px;
              transition: 0.3s ease;
            }

            &:focus {
              border-color: #ff1919;
              outline: none;

              &::placeholder {
                color: #ff1919;
              }
            }
          }

          &:focus-within .name-header {
            color: #ff1919;
          }
        }

        .form-surname {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          flex: 1 0 0;

          .surname-header {
            color: $white;
            font-family: $font-Manrope;
            font-size: $font-size-capital;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            transition: 0.3s ease;
          }

          .surname-input {
            width: 373px;
            display: flex;
            padding: 20px;
            align-items: center;
            gap: 77px;
            align-self: stretch;
            border-radius: $border-radius-8;
            border: 1px solid $black-15;
            background: $black-08;
            color: var(--Grey-60, #999);
            transition: 0.3s ease;
            font-family: $font-Manrope;
            font-size: 18px;

            &:hover{
              border: 1px solid #ff1919;
            }

            &::placeholder {
              font-family: $font-Manrope;
              font-size: 18px;
              transition: 0.3s ease;
            }

            &:focus {
              border-color: #ff1919;
              outline: none;

              &::placeholder {
                color: #ff1919;
              }
            }
          }


          &:focus-within .surname-header {
            color: #ff1919;
          }
        }
      }

      .form-group2 {
        margin: 50px;
        display: flex;
        align-items: flex-start;
        gap: 50px;
        align-self: stretch;

        .form-email {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          flex: 1 0 0;

          .email-heading {
            align-self: stretch;
            color: $white;
            font-family: $font-Manrope;
            font-size: $font-size-capital;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            transition: 0.3s ease;
          }

          .email-input {
            width: 373px;
            display: flex;
            padding: 20px;
            align-items: center;
            gap: 77px;
            align-self: stretch;
            border-radius: 8px;
            border: 1px solid $black-15;
            background: $black-08;
            color: var(--Grey-60, #999);
            transition: 0.3s ease;
            font-family: $font-Manrope;
            font-size: 18px;

            &:hover{
              border: 1px solid #ff1919;
            }
            &::placeholder {
              font-family: $font-Manrope;
              font-size: 18px;
              transition: 0.3s ease;
            }

            &:focus {
              border-color: #ff1919;
              outline: none;

              &::placeholder {
                color: #ff1919;
              }
            }
          }

          &:focus-within .email-heading {
            color: #ff1919;
          }
        }

        .form-phone-number {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          flex: 1 0 0;

          .phone-label {
            color: $white;
            font-family: $font-Manrope;
            font-size: $font-size-capital;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            transition: 0.3s ease;
          }

          .phone-input-group {
            width: 413px;
            display: flex;
            align-items: center;
            gap: 16px;
            align-self: stretch;

            .country-select-wrapper {
              display: flex;
              padding: 0 12px;
              align-items: center;
              gap: 6px;
              align-self: stretch;
              border-radius: $border-radius-8;
              border: 1px solid $black-15;
              background: $black-08;
              color: var(--Grey-60, #999);
              transition: 0.3s ease;

              &:hover{
                border: 1px solid #ff1919;
              }
            }

            .phone-number-input {
              display: flex;
              padding: 20px;
              align-items: center;
              gap: 77px;
              flex: 1 0 0;
              border-radius: $border-radius-8;
              border: 1px solid $black-15;
              background: $black-08;
              color: var(--Grey-60, #999);
              transition: 0.3s ease;
              font-family: $font-Manrope;
              font-size: 18px;
              &:hover{
                border: 1px solid #ff1919;
              }

              &::placeholder {
                font-family: $font-Manrope;
                font-size: 18px;
                transition: 0.3s ease;
              }

              &:focus {
                border-color: #ff1919;
                outline: none;

                &::placeholder {
                  color: #ff1919;
                }
              }
            }

            .country-select-wrapper:focus {
              border-color: #ff1919;
              outline: none;
            }
          }

          &:focus-within .phone-label {
            color: #ff1919;
          }
        }
      }

      .form-group3 {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        padding: 50px;

        .form-heading {
          align-self: stretch;
          color: $white;
          font-family: $font-Manrope;
          font-size: $font-size-capital;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
          transition: 0.3s ease;
        }

        .form-message {
          width: 836px;
          height: 163px;
          padding: 20px;
          align-self: stretch;
          border-radius: $border-radius-8;
          border: 1px solid $black-15;
          background: $black-08;
          color: var(--Grey-60, #999);
          font-family: $font-Manrope;
          font-size: 18px;
          resize: none;
          transition: 0.3s ease;
          &:hover{
            border: 1px solid #ff1919;
          }

          &::placeholder {
            font-family: $font-Manrope;
            font-size: 18px;
            color: var(--Grey-60, #999);
            transition: 0.3s ease;
          }

          &:focus {
            border-color: #ff1919;
            outline: none;

            &::placeholder {
              color: #ff1919;
            }
          }
        }

        &:focus-within .form-heading {
          color: #ff1919;
        }
      }

      .form-actions {
        display: flex;
        align-items: center;
        gap: 70px;
        align-self: stretch;
        margin: 50px;

        .check-box {
          display: flex;
          align-items: center;
          gap: 10px;
          flex: 1 0 0;
          transition: 0.3s ease;

          .field-check-box {
            width: 28px;
            height: 28px;
            border-radius: 4px;
            border: 1px solid $black-15;
            background: $black-08;
            transition: 0.3s ease;
            cursor: pointer;

            &:focus {
              outline: none;
              border-color: #ff1919;
              box-shadow: 0 0 0 2px rgba(255, 25, 25, 0.2);
            }

            &:hover {
              border-color: #ff1919;
            }
          }

          p {
            color: $gray-60;
            font-family: $font-Manrope;
            font-size: $font-size-capital;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            flex: 1 0 0;
            transition: 0.3s ease;


            .field-check-box:focus + & {
              color: #ff1919;
            }
          }


          &:focus-within {
            .field-check-box {
              border-color: #ff1919;
            }
            p {
              color: #ff1919;
            }
          }
        }

        .submit-button {
          border: 1px solid transparent;
          display: flex;
          padding: 18px 24px;
          align-items: flex-start;
          gap: 10px;
          border-radius: $border-radius-8;
          background: $red-45;
          transition: 0.3s ease;
          cursor: pointer;

          &:hover {
            border: 1px solid #ff1919;
            background-color: #141414;
            transform: translateY(-1px);
          }


          p {
            color: $white;
            font-family: $font-Manrope;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            margin: 0;
          }
        }
      }

    }
  }


}

.faq-section {
 @include faq-section-desktop;


}

.container-free-trial {
  @include container-free-trial-desktop;
}

footer {
  @include footer-style-desktop;
}

@media (max-width: 1440px) {
  body {
    @include body;
  }

  main {
    @include main;
  }

  .burger-menu {
    display: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .site-header {
    @include site-header-laptop;
  }

  .form-container {
    margin-top: 100px;
    width: 1279px;

    .form-wrapper {
      display: flex;
      width: 1279px;
      align-items: flex-start;
      gap: 50px;

      .aside-img {
        display: flex;
        width: 429px;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        flex-shrink: 0;
        align-self: stretch;

        .title-text {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          align-self: stretch;

          .heading {
            align-self: stretch;
            color: $white;
            font-size: 38px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
          }

          .paragraph {
            color: var(--Grey-60, #999);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            align-self: stretch;
          }
        }

        .images {
          overflow: hidden;
          display: flex;
          align-items: center;
          flex: 1 0 0;
          align-self: stretch;
          border-radius: 4px;
          border: 6px solid var(--Black-15, #262626);
          background: var(--Black-06, #0F0F0F);

          .image-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            flex: 1 0 0;
            align-self: stretch;

            .con-img {
              margin: 0;
              display: flex;
              align-items: flex-start;
              gap: 20px;
              flex: 1 0 0;
              align-self: stretch;
            }
          }
        }
      }

      .contact-form {
        width: 800px;
        display: flex;
        padding: 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        flex: 1 0 0;
        border-radius: 10px;
        border: 1px solid var(--Black-15, #262626);
        background: var(--Black-06, #0F0F0F);

        .form-group1 {
          display: flex;
          align-items: flex-start;
          gap: 70px;
          align-self: stretch;

          .form-name {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            flex: 1 0 0;

            .name-header {
              align-self: stretch;
              color: var(--Absolute-White, #FFF);
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 150%;
            }

            .name-input {
              color: var(--Grey-60, #999);
              width: 266px;
              display: flex;
              padding: 16px;
              align-items: center;
              gap: 77px;
              align-self: stretch;
              border-radius: 6px;
              border: 1px solid var(--Black-15, #262626);
              background: var(--Black-08, #141414);
              transition: 0.3s ease;
            }


            .name-input::placeholder {
              font-family: $font-Manrope;
              font-size: 14px;
            }
          }

          .form-surname {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            flex: 1 0 0;

            .surname-header {
              color: $white;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 150%;
            }

            .surname-input {
              color: var(--Grey-60, #999);
              width: 266px;
              display: flex;
              padding: 16px;
              align-items: center;
              gap: 77px;
              align-self: stretch;
              border-radius: 6px;
              border: 1px solid var(--Black-15, #262626);
              background: var(--Black-08, #141414);
            }

            .surname-input::placeholder {
              font-family: $font-Manrope;
              font-size: 14px;
            }
          }
        }

        .form-group2 {
          display: flex;
          align-items: flex-start;
          gap: 70px;
          align-self: stretch;

          .form-email {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            flex: 1 0 0;

            .email-heading {
              align-self: stretch;
              color: var(--Absolute-White, #FFF);
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 150%;
            }

            .email-input {
              color: var(--Grey-60, #999);
              width: 266px;
              display: flex;
              padding: 16px;
              align-items: center;
              gap: 77px;
              align-self: stretch;
              border-radius: 6px;
              border: 1px solid var(--Black-15, #262626);
              background: var(--Black-08, #141414);
            }

            .email-input::placeholder {
              font-family: $font-Manrope;
              font-size: 14px;
            }

          }

          .form-phone-number {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            flex: 1 0 0;

            .phone-label {
              color: var(--Absolute-White, #FFF);
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 150%;
              align-self: stretch;
            }

            .phone-input-group {
              color: var(--Grey-60, #999);
              width: 298px;
              display: flex;
              align-items: center;
              gap: 12px;
              align-self: stretch;

              .country-select-wrapper {
                display: flex;
                padding: 0 8px;
                align-items: center;
                gap: 4px;
                align-self: stretch;
                border-radius: 6px;
                border: 1px solid var(--Black-15, #262626);
                background: var(--Black-08, #141414);
              }

              .phone-number-input {
                color: var(--Grey-60, #999);
                width: 153px;
                display: flex;
                padding: 16px;
                align-items: center;
                gap: 77px;
                flex: 1 0 0;
                border-radius: 6px;
                border: 1px solid var(--Black-15, #262626);
                background: var(--Black-08, #141414);
              }

              .phone-number-input::placeholder {
                font-family: $font-Manrope;
                font-size: 14px;
              }
            }
          }
        }

        .form-group3 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;
          align-self: stretch;

          .form-heading {
            align-self: stretch;
            color: var(--Absolute-White, #FFF);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
          }

          .form-message {
            width: 640px;
            display: flex;
            height: 129px;
            padding: 16px;
            align-items: flex-start;
            gap: 77px;
            align-self: stretch;
            border-radius: 6px;
            border: 1px solid var(--Black-15, #262626);
            background: var(--Black-08, #141414);
            color: var(--Grey-60, #999);
          }

          .form-message::placeholder {
            font-family: $font-Manrope;
            font-size: 14px;
          }
        }

        .form-actions {
          display: flex;
          align-items: center;
          gap: 70px;
          align-self: stretch;

          .check-box {
            display: flex;
            align-items: center;
            gap: 8px;
            flex: 1 0 0;

            .field-check-box {
              width: 24px;
              height: 24px;
              border-radius: 4px;
              border: 1px solid var(--Black-15, #262626);
              background: var(--Black-06, #0F0F0F);
            }

            p {
              color: var(--Grey-60, #999);
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;
              flex: 1 0 0;
            }
          }

          .submit-button {
            display: flex;
            padding: 14px 20px;
            align-items: flex-start;
            gap: 10px;
            border-radius: 6px;
            background: var(--Red-45, #E50000);


            p {
              color: #FFF;
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 150%;
            }
          }
        }

      }
    }


  }

  .faq-section {
    margin-top: 150px;
    width: 1280px;

    .faq-wrapper {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 80px;
      text-align: left;
      font-size: 38px;
      color: #fff;

      .section-header-reviews {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 100px;


        .text-content {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 0;

          .section-header-title {
            align-self: stretch;
            position: relative;
            line-height: 150%;
            margin: 0;
            font-size: 28px;
          }

          .section-text {
            align-self: stretch;
            position: relative;
            font-size: 16px;
            line-height: 150%;
            color: #999;
            margin: 0;
          }
        }

        .primary-button {
          border-radius: 8px;
          background-color: #e50000;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 14px 20px;
          border: 1px solid transparent;

          .text {
            position: relative;
            line-height: 150%;
            font-weight: 600;
            color: white;
            font-size: 14px;
          }
        }
      }

      .faq-container {
        display: flex;
        align-items: flex-start;
        gap: 5rem;
        align-self: stretch;

        .faq-column {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          flex: 1 0 0;

          .faq-item {
            display: flex;
            padding: 2.125rem;
            align-items: flex-start;
            gap: 1.25rem;
            align-self: stretch;

            .faq-number {
              display: flex;
              padding: 5px 20px;
              flex-direction: column;
              align-items: flex-start;
              gap: 0.625rem;
              border-radius: 0.625rem;
              border: 1px solid $black-15;
              background: $black-12;

              p {
                color: $white;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
              }
            }

            .faq-text {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 1.25rem;
              flex: 1 0 0;
              align-self: stretch;

              h4 {
                align-self: stretch;
                color: $white;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                margin: 0;
              }

              p {
                align-self: stretch;
                color: $gray-60;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                margin: 0;
              }

              .faq-icon {
                width: 1.875rem;
                height: 1.875rem;
              }
            }
          }

          .faq-item-simple {
            display: flex;
            padding: 1.875rem 2.125rem;
            align-items: center;
            gap: 1.5rem;
            align-self: stretch;

            .faq-number {
              display: flex;
              padding: 5px 20px;
              flex-direction: column;
              align-items: flex-start;
              gap: 0.625rem;
              border-radius: 0.625rem;
              border: 1px solid $black-15;
              background: $black-12;

              p {
                color: $white;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
              }
            }

            h4 {
              flex: 1 0 0;
              color: $white;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;
              font-size: 20px;
            }

            .faq-icon {
              width: 1.875rem;
              height: 1.875rem;
            }

            .line {
              width: 36.375rem;
              height: 0.0625rem;
              background: linear-gradient(90deg, rgba(229, 0, 0, 0.00) 0%, #E50000 16.67%, rgba(229, 0, 0, 0.00) 100%);
            }
          }

          .line {
            width: 36.375rem;
            height: 0.0625rem;
            background: linear-gradient(90deg, rgba(229, 0, 0, 0.00) 0%, #E50000 16.67%, rgba(229, 0, 0, 0.00) 100%);
          }
        }

      }
    }


  }

  .container-free-trial {
    @include container-free-trial-laptop;
  }

  footer {
    @include footer-style-laptop;
  }
}

@media(max-width: 390px) {
  body {
    @include body;
  }

  main {
    @include main;
  }

  .form-container {
    width: 357px;
    margin-top: 40px;

    .form-wrapper {
      display: flex;
      width: 357px;
      flex-direction: column;
      align-items: flex-start;
      gap: 50px;

      .aside-img {
        width: 357px;
        display: flex;
        height: 510px;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        align-self: stretch;

        .title-text {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          align-self: stretch;

          .heading {
            align-self: stretch;
            color: var(--Absolute-White, #FFF);
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
          }

          .paragraph {
            align-self: stretch;
            color: var(--Grey-60, #999);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
          }
        }

        .images {
          margin: 0 15px;
          display: flex;
          align-items: center;
          flex: 1 0 0;
          align-self: stretch;
          border-radius: 4px;
          border: 6px solid var(--Black-15, #262626);
          background: var(--Black-06, #0F0F0F);

          .image-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            flex: 1 0 0;
            align-self: stretch;

            .con-img {
              display: flex;
              align-items: flex-start;
              gap: 20px;
              flex: 1 0 0;
              align-self: stretch;
            }
          }
        }
      }

      .contact-form {
        width: 357px;
        display: flex;
        padding: 0;
        margin: 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;
        border-radius: 10px;
        border: 1px solid var(--Black-15, #262626);
        background: var(--Black-06, #0F0F0F);

        .form-group1 {
          margin: 17px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;
          align-self: stretch;

          .form-name {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            flex: 1 0 0;

            .name-header {
              align-self: stretch;
              color: var(--Absolute-White, #FFF);
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 150%;
            }

            .name-input {
              color: var(--Grey-60, #999);
              display: flex;
              padding: 16px;
              align-items: center;
              gap: 77px;
              align-self: stretch;
              border-radius: 6px;
              border: 1px solid var(--Black-15, #262626);
              background: var(--Black-08, #141414);
            }

            .name-input::placeholder {
              font-family: $font-Manrope;
              font-size: 14px;
            }
          }

          .form-surname {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            align-self: stretch;

            .surname-header {
              color: $white;
              font-family: $font-Manrope;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 150%;
            }

            .surname-input {
              color: var(--Grey-60, #999);
              display: flex;
              padding: 16px;
              align-items: center;
              gap: 77px;
              align-self: stretch;
              border-radius: 6px;
              border: 1px solid var(--Black-15, #262626);
              background: var(--Black-08, #141414);
            }

            .surname-input::placeholder {
              font-family: $font-Manrope;
              font-size: 14px;
            }
          }
        }

        .form-group2 {
          margin: 17px;

          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;
          align-self: stretch;

          .form-email {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            flex: 1 0 0;

            .email-heading {
              align-self: stretch;
              color: $white;
              font-family: $font-Manrope;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 150%;
            }

            .email-input {
              color: var(--Grey-60, #999);
              display: flex;
              padding: 16px;
              align-items: center;
              gap: 77px;
              align-self: stretch;
              border-radius: 6px;
              border: 1px solid var(--Black-15, #262626);
              background: var(--Black-08, #141414);
            }

            .email-input::placeholder {
              font-family: $font-Manrope;
              font-size: 14px;
            }

          }

          .form-phone-number {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            flex: 1 0 0;

            .phone-label {
              color: $white;
              font-family: $font-Manrope;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 150%;
            }

            .phone-input-group {
              color: var(--Grey-60, #999);
              display: flex;
              align-items: center;
              gap: 12px;
              align-self: stretch;

              .country-select-wrapper {
                display: flex;
                padding: 0 8px;
                align-items: center;
                gap: 4px;
                align-self: stretch;
                border-radius: 6px;
                border: 1px solid var(--Black-15, #262626);
                background: var(--Black-08, #141414);
              }

              .phone-number-input {
                width: 0;
                color: var(--Grey-60, #999);
                display: flex;
                padding: 16px;
                align-items: center;
                gap: 77px;
                flex: 1 0 0;
                border-radius: 6px;
                border: 1px solid var(--Black-15, #262626);
                background: var(--Black-08, #141414);
              }

              .phone-number-input::placeholder {
                font-family: $font-Manrope;
                font-size: 14px;
              }
            }
          }
        }

        .form-group3 {
          margin: 17px;
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;
          align-self: stretch;

          .form-heading {
            align-self: stretch;
            color: $white;
            font-family: $font-Manrope;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
          }

          .form-message {
            width: 16.8rem;
            display: flex;
            height: 109px;
            padding: 16px;
            align-items: flex-start;
            gap: 77px;
            align-self: stretch;
            border-radius: 6px;
            border: 1px solid var(--Black-15, #262626);
            background: var(--Black-08, #141414);
            color: var(--Grey-60, #999);
          }

          .form-message::placeholder {
            font-family: $font-Manrope;
            font-size: 14px;
          }
        }

        .form-actions {
          margin: 17px;
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 20px;
          align-self: stretch;

          .check-box {
            display: flex;
            align-items: center;
            gap: 8px;
            align-self: stretch;

            .field-check-box {
              width: 24px;
              height: 24px;
              border-radius: 4px;
              border: 1px solid $black-15;
              background: $black-08;
            }

            p {
              color: var(--Grey-60, #999);
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;
              flex: 1 0 0;
            }
          }

          .submit-button {
            display: flex;
            padding: 14px 20px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            border-radius: 6px;
            background: var(--Red-45, #E50000);


            p {
              color: #FFF;
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 150%;
            }
          }
        }

      }
    }


  }

  .site-header {
    @include site-header-mobile;
  }

  .faq-section {
    margin-top: 150px;
    width: 358px;

    .faq-wrapper {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 40px;
      text-align: left;
      color: #fff;

      .section-header-reviews {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;

        .text-content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          align-self: stretch;

          .section-header-title {
            color: var(--Absolute-White, #FFF);
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            align-self: stretch;
          }

          .section-text {
            align-self: stretch;
            color: var(--Grey-60, #999);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
          }
        }

        .primary-button {
          display: flex;
          padding: 14px 20px;
          align-items: flex-start;
          gap: 10px;
          border-radius: 6px;
          background: var(--Red-45, #E50000);
          border: 1px solid transparent;
          transition: 0.3s ease;

          &:hover{
            border: 1px solid #ff1919;
            background-color: #141414;
          }

          .text {
            position: relative;
            line-height: 150%;
            font-weight: 600;
            color: white;
            font-size: 14px;
          }
        }
      }

      .faq-container {
        width: 358px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
        align-self: stretch;

        .faq-column {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          flex: 1 0 0;
          gap: 15px;

          .faq-item {
            display: flex;
            padding: 0;
            align-items: flex-start;
            gap: 1.25rem;
            align-self: stretch;

            .faq-number {
              display: flex;
              padding: 5px 20px;
              flex-direction: column;
              align-items: flex-start;
              gap: 0.625rem;
              border-radius: 0.625rem;
              border: 1px solid $black-15;
              background: $black-12;

              p {
                color: $white;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
              }
            }

            .faq-text {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 1.25rem;
              flex: 1 0 0;
              align-self: stretch;

              h4 {
                align-self: stretch;
                color: $white;
                font-size: 17px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                margin: 0;
              }

              p {
                align-self: stretch;
                color: $gray-60;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                margin: 0;
              }

              .faq-icon {
                width: 1.875rem;
                height: 1.875rem;
              }
            }
          }

          .faq-item-simple {
            display: flex;
            padding: 0;
            align-items: center;
            gap: 1.5rem;
            align-self: stretch;

            .faq-number {
              display: flex;
              padding: 5px 20px;
              flex-direction: column;
              align-items: flex-start;
              gap: 0.625rem;
              border-radius: 0.625rem;
              border: 1px solid $black-15;
              background: $black-12;

              p {
                color: $white;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
              }
            }

            h4 {
              flex: 1 0 0;
              color: $white;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;
              font-size: 17px;
            }

            .faq-icon {
              width: 1.875rem;
              height: 1.875rem;
            }

            .line {
              width: 358px;
              height: 0.0625rem;
              background: linear-gradient(90deg, rgba(229, 0, 0, 0.00) 0%, #E50000 16.67%, rgba(229, 0, 0, 0.00) 100%);
            }
          }

          .line {
            width: 358px;
            height: 0.0625rem;
            background: linear-gradient(90deg, rgba(229, 0, 0, 0.00) 0%, #E50000 16.67%, rgba(229, 0, 0, 0.00) 100%);
          }
        }

      }
    }


  }

  .container-free-trial {
    @include container-free-trial-mobile;


  }

  footer {
   @include footer-style-mobile;
  }


}